<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <base th:href="${#request.contextPath}+'/'">
    <title>首页</title>
    <link href="c/base.css" rel="stylesheet" type="text/css">
    <link href="c/toefl.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="c/bootstrap.min.css">
    <script type="text/javascript" src="j/jquery-2.1.0.js"></script>
    <script src="j/bootstrap.min.js"></script>

    <script src="j/common.js" type="text/javascript">

    </script>
</head>

<body>
<div class="doc1180">
    <div class="header">
        <div class="logo"><a href="####"><img src="i/logo.png"></a></div>
        <div class="headerUser">
            <ul>
                <li class="headerUserPic"><a href="###"><img src="i/30x30.png"></a></li>
                <li class="headerUserName"><a href="###" th:text="${session.admin.loginName}"></a></li>
                <li class="headerUserNotice">通知<a href="###">14</a></li>
            </ul>
        </div>
        <div class="headerLink">
            <a href="user/logout">注销</a>
            <!--            <a href="登陆注册/注册页.html" class="###">注册</a>-->
        </div>
    </div>
</div>

<div class="menu">
    <div class="doc1180">
        <div class="menuLink">
            <ul class="fn-clear">
                <li class="active"><a href="main.html" target="ifr">首页</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        系统管理 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="admin/getActives" target="ifr" type="GET">课程活动</a></li>
                        <li><a href="admin/getWebLinks" target="ifr" type="GET">网站链接</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        用户管理 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="user/getTeachers" target="ifr">讲师管理</a></li>
                        <li><a href="user/getUsers" target="ifr">用户管理</a></li>
                    </ul>
                </li>


                <li><a href="systemManagePeople/systemManage-tuoFuPeopleList.html" target="ifr">托福人</a></li>
                <li><a href="group/getGroups" target="ifr">群组聊天</a></li>
                <li><a href="class/getClasses" target="ifr">公开课</a></li>
                <li><a href="castle/getCastle" target="ifr">福利城堡</a></li>
            </ul>
        </div>
        <div class="fenxiang">
            <a href="#" class="weibo"><img src="i/weibo.png"></a>
            <a href="#" class="weixin"><img src="i/weixin.png"></a>
        </div>
    </div>
</div>
<iframe id="ifr" name="ifr" src="main.html" style="width: 99vw;height: 84vh;" frameborder="no"></iframe>
<iframe th:src="@{/admin/footerLink}" style="width: 99vw;height: 32vh;" frameborder="no"></iframe>


<script type="text/javascript">
    // 计算页面的实际高度，iframe自适应会用到
    function calcPageHeight(doc) {
        var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight);
        var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight);
        var height = Math.max(doc.body.clientHeight, doc.body.scrollHeight);
        return height
    }

    var ifr = document.getElementById('ifr')
    ifr.onload = function () {
        var inter = window.setInterval(function () {
            var iDoc = ifr.contentDocument || ifr.document
            var height = calcPageHeight(iDoc)
            ifr.style.height = height + 'px'

        }, 100);
        window.setTimeout(function () {
            window.clearInterval(inter);
        }, 10000);

    }
</script>
<!-- 代码结束 -->
</body>
</html>
